<article class="news-item">
  <div class="content">
    <%= raw Redcarpet::Markdown.new(Redcarpet::Render::XHTML).render(news_item.content) %>
  </div>

  <% unless news_item.image_path.blank? %>
    <%= image_tag news_item.image_path %>
  <% end %>
</article>
