<%= content_for :title, 'Gallery' %>

<h1>Gallery</h1>
<p>Click on the image for each collection.</p>

<nav>
  <ul>
    <li><a href="/gallery/peace-doves">Peace Doves</a></li>
    <li><a href="/gallery/weather">Weather</a></li>
    <li><a href="/gallery/birds">Birds</a></li>
    <li><a href="/gallery/commissions">Commissions</a></li>
    <li><a href="/gallery/branches">Branches</a></li>
    <li><a href="/gallery/woodlands">Woodlands</a></li>
  </ul>
</nav>
