<%= content_for :title, 'Links' %>

<p>
  <%= link_to "http://www.acj.org.uk/" do %>
    <%= image_tag 'acj_logo.jpg', alt: 'ACJ' %>
  <% end %>
</p>

<p>
  <%= link_to 'Association of Contemporary Jewellery', 'Association of Contemporary Jewellery' %>
</p>
