<li class="jewellery-piece">
  <p class="description">Sterling silver, wood, resin and suede brooch.</p>
  <%= image_tag 'gallery/g4.1.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Sterling silver, wood and resin brooch</p>
  <%= image_tag 'gallery/g4.2.jpg' %>
</li>
