<li class="jewellery-piece">
  <p class="description">
    Cushion shaped green Tourmaline, recycled 18ct yellow gold and sterling silver ring.
  </p>
  <%= image_tag 'gallery/g5.1.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Diamond and recycled 18ct yellow gold ring.</p>
  <%= image_tag 'gallery/g5.2.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Fine silver, sterling silver and Peridot dragonfly brooch.</p>
  <%= image_tag 'gallery/commissions/dragonfly.jpg' %>
</li>
