<li class="jewellery-piece">
  <p class="description">
    Large sterling silver and cultured pearl dove pendant on hand platted
    linen. Small sterling silver and cultured pearl brooch
  </p>
  <%= image_tag 'gallery/g3.1.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Broochs in sterling silver, suede and acrylic</p>
  <%= image_tag 'gallery/g3.2.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Sterling silver ring with paper and resin</p>
  <%= image_tag 'gallery/g3.3.jpg' %>
</li>
