/*
 *= require normalize
 *= require_self
 *= require_tree .
 */

body {
  font: 16px/1.5 "Times New Roman", Times, serif;
  padding-bottom: 3em;
  margin: 0 auto;
  width: 960px;
  color: #666;
}

header {
  position: relative;

  nav {
    position: absolute;
    top: 0;
    right: 0;

    ul { margin: 50px 0 0; }

    li {
      list-style-type: circle;
      padding: 8px;

      &.current { list-style-type: disc; }
    }

    a {
      text-decoration: none;
      color: #666;
    }
  }
}

%notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}

.errors {
  @extend %notice;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
  list-style: none;
}

.success {
  @extend %notice;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
