.about { width: 460px; }

.latest-news {
  width: 620px;
  margin: 0 auto;
}

.contact {
  position: relative;

  img {
    float: left;
    margin-top: -100px;
    margin-left: 115px;
  }

  p { padding-right: 35px; }
}
